apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "rootpass"
  MYSQL_DATABASE: "my_project_db"
  MYSQL_USER: "my_project_user"
  MYSQL_PASSWORD: "password"
