apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33

      containers:
        - name: laravel
          image: 104849/laravel-app:latest
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: laravel-config
          volumeMounts:
            - name: laravel-storage
              mountPath: /var/www/storage

      volumes:
        - name: laravel-storage
          persistentVolumeClaim:
            claimName: laravel-storage
